<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drop_in Landing Page</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>

<section>
    <div class="container">
        <nav>
            <h1>Epic Sojourns</h1>
            <ul>
                <li><a href="" class="act">Home</a></li>
                <li><a href="">Destinations</a></li>
                <li><a href="">Safaris package</a></li>
                <li><a href="">Photos</a></li>
                <li><a href="">Blogs</a></li>
            </ul>
        </nav>
        <div class="article">
            <h1>Best site to get the tea</h1>
            <p>A blog post is any article, news piece, or guide that's published in the blog section of a website.
                A blog post typically covers a specific topic or query, is educational in nature, ranges from 600 to 2,000+ words, and contains
                other media types such as images, videos, infographics, and interactive charts.

                Blog posts allow you and your business to publish insights, thoughts, and stories on your website about any topic. They can help
                you boost brand awareness, credibility, conversions, and revenue. </p>
            <a href="" class="btn">Subscribe today</a>
        </div>

    </div>
</section>

<footer>

    <div class="social-links">
        <h1>Connect With Us.</h1>
        <ul>
            <a href="https://www.facebook.com/YourPage" target="_blank">Facebook</a>
            <a href="https://twitter.com/YourPage" target="_blank">Twitter</a>
            <a href="https://www.instagram.com/YourPage" target="_blank">Instagram</a>
        </ul>


    </div>
    <div class="contact-links">
        <h1>Contact us</h1>
        <ul>
            <a href="mailto:info@example.com">Email</a>
            <a href="tel:+1234567890">Phone</a>
        </ul>


    </div>
    <div class="">
        <p>&copy; 2024 Epic Sojourns. All rights reserved.</p>
    </div>

</footer>

</body>
</html>