<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drop_in Landing Page</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<section>
    <div class="content">
        <nav>
            <h1>Epic Sojourns</h1>
            <ul>
                <li><a href="" class="act">Home</a></li>
                <li><a href="">Destinations</a></li>
                <li><a href="">Safaris package</a></li>
                <li><a href="">Photos</a></li>
                <li><a href="">Blogs</a></li>
            </ul>
        </nav>
        <div class="article">
            <h2>Best site to get the tea</h2>
            <p>A blog post is any article, news piece, or guide that's published in the blog section of a website.
                Blog posts allow you and your business to publish insights, thoughts, and stories on your website about any topic. They can help
                you boost brand awareness, credibility, conversions, and revenue. </p>
            <a href="#" class="btn">Subscribe today</a>
        </div>

    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#"></a>Services</li>
                    <li><a href="#"></a>Privacy policy</li>
                    <li><a href="#"></a>Terms and Conditions</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Find support</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Discounts</a></li>
                    <li><a href="#">Carpools</a></li>
                    <li><a href="#">Payment Options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Premium Packages</h4>
                <ul>
                    <li><a href="#">Africa</a></li>
                     <li><a href="#">Europe</a></li>
                     <li><a href="#">Asia</a></li>
                     <li><a href="#">USA</a></li>
                     <li><a href="#">Australia</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f "></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin "></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>
</html>